.university {
  .university-logo {
    width: 30%;
    margin-left: 2vw;
    margin-right: 1vw;

    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .university-info {
    margin: 0 auto;
  }
}

.partner-university {
  font-size: 1rem;
  padding-bottom: 4vw;
}
