.is-flex {
  display: flex;
}

.height-100 {
  height: 100vh;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.font-larger {
  font-size: 3.7vw;
  font-family: 'Avenir LT Black', sans-serif;
  padding-right: 0.25em;
  line-height: 1.3;
}
