.testimonial {
  font-size: 0.8em;
  padding: 0 1.5em;
}

.testimonial-img {
  width: 30%;
  margin-left: 2vw;
  margin-right: 1vw;

  img {
    margin: 0 auto;
  }
}

.testimonial-desc {
  width: 60%;
  flex-direction: column;
  align-self: center;
  margin: 0 3em;
  line-height: 1.8em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.testimonial-content {
  font-style: italic;
}

.testimonial-person {
  margin-top: 0.7em;
  font-family: 'Avenir LT Black', sans-serif;
  font-weight: 700;
  color: #484848;
}

@media only screen and (max-width: 768px) {
  .testimonial {
    font-size: 1.2em;
    flex-direction: column;
    justify-content: center;
  }
  .testimonial-img {
    width: 100%;
    margin: 0;
  }
  .testimonial-desc {
    margin-top: 2em;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  .testimonial {
    height: 60rem;
  }
}
