#program {
  background-color: #f6f6f6;
  margin-top: -1px;
  padding: 5vw 12vw 4vw;
  font-size: 1rem;
}

.program-content-desc {
  p {
    text-align: justify;
    line-height: 1.75rem;
  }
}

.program-content-items {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 576px) {
  .program-content-items {
    flex-direction: column;
    margin-top: 1em;
  }
}
