#faq {
  margin-top: -7.5vw;
  padding-top: 7.5vw;
}

.faq-content {
  padding: 0 12vw;

  p {
    line-height: 1.5rem;
  }

  strong {
    color: #484848;
  }
}

@media only screen and (max-width: 786px) {
  .faq-content {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

ul {
  list-style: none;
  margin-left: 1.85rem;
  margin-right: 1rem;
}

ul li {
  margin: 0.5rem;
  text-indent: -1.85rem;
  line-height: 1.2rem;
}
