.card {
  width: 48.5%;
  margin: 2em 0;
  padding: 1.5em 0;
  background-color: #fff;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.4);

  img {
    margin: 0 auto;
    height: 8em;
  }
}

.card-title {
  text-align: center;
  color: #010184;
  font-family: 'Avenir LT Black', sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  padding: 2rem 2rem 1rem;
}

.card-body {
  padding: 0 2.5rem;
  margin-top: 0.8em;

  p {
    text-align: justify;
    line-height: 1.75rem;
  }
}

.card-body {
  ul {
    list-style: none;
    margin: 0 1vw;

    li {
      margin: 0.65rem;
      text-indent: -1.85rem;
      line-height: 1.5rem;
    }
  }
}

.card-body > p:nth-child(3) {
  padding-top: 2.1em;
}

ul li:before {
  content: '-';
  margin-left: 1rem;
  margin-right: 0.45rem;
}

@media only screen and (max-width: 576px) {
  .card {
    width: 90%;
    margin: 1em auto;
  }
}
