.slick-prev:before {
  content: '';
  width: 0;
  height: 0;
}

.slick-prev {
  top: 45%;
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-right: 1.5rem solid #484848;
  left: -3vw;
}

.slick-next:before {
  content: '';
  width: 0;
  height: 0;
}

.slick-next {
  top: 45%;
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-left: 1.5rem solid #484848;
  right: -3vw;
}
