.timeline-step {
  position: relative;
  width: 25%;
  padding: 0 1em;
  text-align: center;

  .step-title {
    color: #010184;
    font-weight: 700;
    letter-spacing: 0.05em;
  }

  img {
    width: 12vw;
    margin: 0.8rem auto 0.9rem;
  }

  .step-info {
    font-size: 0.8rem;
  }
}

.divider {
  position: absolute;
  right: -2.5vw;
  bottom: 8vw;
  width: 5vw;
  border-bottom: 0.25rem solid #ddd;
}

@media only screen and (max-width: 576px) {
  .divider {
    right: -3.5vw;
    bottom: 12.5vw;
    width: 7vw;
  }
}
