.content-container {
  margin-top: 7.5vw;
  background-image: url('../../../../assets/img/BG-Foot.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  background-position-x: center;
  background-position-y: bottom;
}
