@font-face {
  font-family: 'Avenir LT STD Roman';
  src: url(assets/fonts/AvenirLTStd-Roman.otf) format('truetype');
}
@font-face {
  font-family: 'Avenir LT 95 Black';
  src: url(assets/fonts/AvenirLT95Black.ttf) format('truetype');
}
@font-face {
  font-family: 'AEH';
  src: url(assets/fonts/AEH.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 1.4vw;
  font-family: 'Avenir LT STD Roman', 'Avenir LT 95 Black', 'AEH', sans-serif;
  color: #666;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
@media only screen and (max-width: 1024px) {
  :root {
    font-size: 1.6vw;
  }
}

@media only screen and (max-width: 786px) {
  :root {
    font-size: 1.75vw;
  }
}
@media only screen and (max-width: 425px) {
  :root {
    font-size: 2.75vw;
  }
}

@import './global/styles/utilities';
