.content-container {
  section {
    .title {
      color: #010184;
      font-family: 'Avenir LT Black', sans-serif;
      font-size: 2rem;
      text-align: center;
      padding: 2rem;
      font-weight: 700;
    }
  }
}
